.color {
  background-color: #b1afff;
  height: 100vh;
}

@media only screen and (max-width: 450px) {
  .color {
    height: 133vh;
  }
}

@media only screen and (max-width: 375px) {
  .color {
    height: 210vh;
    width: 100vh;
  }
}
