.color {
  background-color: #26577c;
  height: 100vh;
}
@media only screen and (max-width: 1024px) {
  .color {
    height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .color {
    height: 200vh;
  }
}
@media only screen and (max-width: 450px) {
  .color {
    height: 180vh;
  }
}

@media only screen and (max-width: 375px) {
  .color {
    height: 380vh;
    width: 100vh;
  }
}
