.color {
  background-color: #79ac78;
  height: 100vh;
}

@media only screen and (max-width: 1700px) {
  .color {
    height: 160vh;
  }
}
@media only screen and (max-width: 1500px) {
  .color {
    height: 170vh;
  }
}
@media only screen and (max-width: 1024px) {
  .color {
    height: 185vh;
  }
}
@media only screen and (max-width: 768px) {
  .color {
    height: 350vh;
  }
}
@media only screen and (max-width: 450px) {
  .color {
    height: 405vh;
  }
}

@media only screen and (max-width: 375px) {
  .color {
    height: 530vh;
    width: 100vh;
  }
}
